{% extends 'index.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('{{ url_for("static", filename="images/background.jpg") }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            height: 100vh;
        }
        .signin-container {
            background-color: #333;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            width: 25%;
            opacity: 1;
            color: white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
        h1 {
            color: #4CAF50;
            font-size: 24px;
        }
        label {
            color: #fff;
            font-size: 16px;
        }
        input {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }
        input[type="submit"] {
            background-color: #003366;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #002244;
        }

    </style>

    <div class="flex-container">
        <div class="signin-container">
            {% if success == Null %}
                <h1>Sign in</h1>
            
                <form method="post">
                    <input type="username" name="username" placeholder="Username"><br>
                    <input type="password" name="password" placeholder="Password"><br>
                    <input type="submit" value="Sign In!">
                </form>
                <a style="display:block" href = "{{url_for('forgot_password')}}"><input type="submit" value="Forgotten Your Password? Click Here!"></a>
                {% if error %}
                    <h1>{{ error }}!</h1>
                {% endif %}
            {% else %}
                <h1>Login Success</h1>
                <h1> ... </h1>
            {% endif %}
        </div>
    </div>
{% endblock %}