{% extends 'index.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('{{ url_for('static', filename='images/background.jpg') }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            height: 100vh;
        }

        .signin-container {
            background-color: #333;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            width: 25%;
            opacity: 1;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h1 {
            color: #4CAF50;
            font-size: 24px;
        }

        label {
            color: #fff;
            font-size: 16px;
        }

        input {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #003366;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #002244;
        }

        .view-listings-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            width: 25%;
            opacity: 0.85;
            color: white;
            position: absolute;
            top: calc(50% + 200px); /* Position it below the sign-in container */
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .view-listings-button {
            background-color: #004466;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            border-radius: 8px;
            font-size: 25px;
        }

        .view-listings-button:hover {
            background-color: #002244;
        }

        .change-password-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            width: 25%;
            opacity: 0.85;
            color: white;
            position: absolute;
            top: calc(50% + 200px + 100px); /* Position it below the sign-in container */
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .change-password-button {
            background-color: #004466;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            border-radius: 8px;
            font-size: 25px;
        }

        .change-password-button:hover {
            background-color: #002244;
        }
    </style>

    <div class="flex-container">}
        <div class="signin-container">
            <h1>Personal Information</h1>
            <p style="color: white;">Username: {{ user.username }}</p>
            <p style="color: white;">First Name: {{ user.first_name }}</p>
            <p style="color: white;">Last Name: {{ user.last_name }}</p>
            <p style="color: white;">Email: {{ user.email }}</p>
            <p style="color: white;">Address: {{ user.address }}</p>

        </div>

        <div class="view-listings-container">
            <a href="{{ url_for('listing') }}" class="view-listings-button">View Listings</a>
        </div>

        {% if sameUser %}
        <div class="change-password-container">
            <a href="{{ url_for('change_password') }}" class="change-password-button">Change Password</a>
        </div>
        {% endif %}

{% endblock %}